footer {
	border-top: 2px solid gray;
	margin-top: 10vh;
}

footer h5 {
	color: var(--text-color);
	font-family: var(--fontB);
	font-size: 1.7rem;
}

footer li a {
	color: gray;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
	display: block;
	font-family: var(--fontB);
	font-size: 1.25rem;
}

footer li a:hover {
	color: gray;
	transform: translateX(5px);
	text-decoration: none;
}
